.win{
    background-color: rgb(37, 161, 37);
}
.loss{
    background-color: rgb(221, 65, 65);
}
.draw{
    background-color: sandybrown;
}
body{
    margin: 2em;
}
table{
    background-color: rgb(170, 187, 204);
    border: 1px solid black;
    padding: 1em;
}
table td{
    padding: 0.4em;
    text-align: center;
    border: 1px solid black;
}
table th{
    padding: 0.2em;
    border-right: 1px solid black;
}